*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color:#434343;
}

form{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 22%;
  z-index: 1;
}


input{
  margin: 10px;
  height: 40px;
  width: 50%;
    border:solid white 1px;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input:focus {
  outline: none;
}

#text-position{
position: relative;
 
}

button{
  position: relative;
  left: 15%;
  width: fit-content;
  margin-top: 10px;
  padding: 13px 90px;
  font-size: 100%;
  border: solid white 1px;
  color: white;
}
button:focus {
  outline: 1px solid #fff;
}

.text-label{
  color: white;
  border-color: white;
  
}

.text-label-red{
  color: red;
}
.input-box{
  border-color: red;
  color: white;
}

h1{
  font-size: 30px;
  font-weight: 450;
  margin: 20px;
}

.form-complete{
  background-color: #434343;
  z-index: 2;
}
.form-not-complete{
z-index: 0;
}
