*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color:#434343;
}



form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


input{
  margin: 10px;
  height: 40px;
  width: 60%;
    border:solid white 1px;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input:focus {
  outline: none;
}

#text-position{
  position: relative;
  right: 28%;
}

button{
  margin-top: 10px;
  padding: 13px 90px;
  font-size: 100%;
  border: solid white 1px;
  color: white;
}
button:focus {
  outline: 1px solid #fff;
}

.text-label{
  color: white;
  border-color: white;
  
}

.text-label-red{
  color: red;
}
.input-box{
  border-color: red;
  color: white;
}

